<!-- Main content -->
<form [formGroup]="formData" (ngSubmit)="onSubmit()">

    <!-- 1st row -->
    <div class="row">
        <div class="col-md-12">
            <div class="card card-outline card-primary">
                <div class="card-header">
                    <h3 class="card-title">Evidence Details</h3>
                    <div class="card-tools"> </div>
                </div>
                <!-- /.card-header -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">

                            <div class="row">

                                <div class="col-md-6">

                                    <div class="row">

                                        <div class="form-group">
                                            <p for="inputName" class="h6">Case Number <b class="text-danger">*</b></p>
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control" formControlName="case_no"
                                                    placeholder="ex. FAIS-000-XXXX" />
                                                <!-- <control-messages [control]="incidentData.get('caseNo')"></control-messages> -->
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <p for="inputDescription" class="h6">Suspect <b class="text-danger">*</b></p>
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control" formControlName="suspect_name">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <p for="" class="h6">Mother Unit <b class="text-danger">*</b></p>
                                            <div class="input-group input-group-sm">
                                                <select class="form-control custom-select" formControlName="mother_unit">
                                                    <option>CIDG</option>
                                                    <option>PDEA</option>
                                                    <option>PROCOR</option>
                                                    <option>BJMP</option>
                                                    <option>OTHERS</option>
                                                </select>

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <p for="" class="h6">Type of Operation <b class="text-danger">*</b></p>
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control" formControlName="operation_type" />
                                                <span class="input-group-append">
                                                    <div class="input-group input-group-sm">
                                                            <button type="button" class="btn btn-info btn-flat" data-toggle="modal"
                                                                data-target="#modal-operation-types">Select...</button>
                                                    </div>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <p for="inputName" class="h6">Examiner <b class="text-danger">*</b></p>
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control" formControlName="examiner" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <p for="inputName" class="h6">Investigator on Case</p>
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control" formControlName="investigator" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p for="inputName" class="h6">Date <b class="text-danger">*</b></p>
                                                    <!-- formGroupName="dtpo" -->
                                                    <div *ngIf="isAdd" class="input-group input-group-sm">
                                                        <input class="form-control" placeholder="mm/dd/yyyy" name="dp"
                                                            [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker"
                                                            [ngStyle]="{'backgroundColor': 'white'}" formControlName="incident_date"
                                                            (dateSelect)="onDateSelect($event)" readonly>
                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                                                type="button">📅</button>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="!isAdd" class="input-group input-group-sm">
                                                        <input type="text" class="form-control"
                                                            formControlName="incident_date_edit" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <p for="inputName" class="h6">Time <b class="text-danger">*</b></p>
                                                    <div *ngIf="isAdd" class="input-group input-group-sm date" id="timepicker"
                                                        data-target-input="nearest">
                                                        <input type="time" class="form-control datetimepicker-input"
                                                            data-target="#timepicker" formControlName="incident_time" min="09:00"
                                                            max="18:00" required>
                                                    </div>
            
                                                    <div *ngIf="!isAdd" class="input-group input-group-sm">
                                                        <input type="text" class="form-control"
                                                            formControlName="incident_time_edit" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p for="inputName" class="h6">No. of Specimen</p>
                                                    <div class="input-group input-group-sm">
                                                        <input type="text" class="form-control" formControlName="speciment_count" />
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <p for="inputName" class="h6">No. of PPH</p>
                                                    <div class="input-group input-group-sm">
                                                        <input type="text" class="form-control" formControlName="pph_count" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p for="inputName" class="h6">Quantity Received</p>
                                                    <div class="input-group input-group-sm">
                                                        <input type="text" class="form-control" formControlName="qty_received" />
                                                    </div>
                                                </div>
                                        
                                                <div class="col-md-6">
                                                    <p for="inputName" class="h6">Gross Weight</p>
                                                    <div class="input-group input-group-sm">
                                                        <input type="text" class="form-control" formControlName="gross_weight" />
                                                    </div>
                                                </div>
                                            </div>
                                        
                                        </div>

                                        <div class="form-group">
                                            <p for="inputName" class="h6">Classification <b class="text-danger">*</b></p>
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control" formControlName="classification" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <p for="inputName" class="h6">Delivered By</p>
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control" formControlName="delivered_by" />
                                            </div>
                                        </div>

                                    </div>

                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">

                                            <div class="form-group">
                                                <p for="inputName" class="h6">Description</p>
                                                <div class="input-group input-group-sm">
                                                    <input type="text" class="form-control" formControlName="description" />
                                                </div>
                                            </div>
    
                                            <div class="form-group">
                                                <p for="inputName" class="h6">Received By (Evidence Custodian)</p>
                                                <div class="input-group input-group-sm">
                                                    <input type="text" class="form-control" formControlName="received_by" />
                                                </div>
                                            </div>
    
                                            <div class="form-group">
                                                <p for="" class="h6">Status of Evidence</p>
                                                <div class="input-group input-group-sm">
                                                    <select class="form-control custom-select" formControlName="evidence_status">
                                                        <option>ACCOUNTED IN CUSTODY</option>
                                                        <option>DEPOSITED TO COURT/PROSECUTOR</option>
                                                        <option>WITHDRAWN BY REQUESTING PARTY</option>
                                                        <option>TURNED-OVER TO FEO</option>
                                                        <option>TURNED-OVER TO LSS</option>
                                                    </select>
    
                                                </div>
                                            </div>
    
                                            <div class="form-group">
                                                <p for="inputName" class="h6">Quantity Turned-Over</p>
                                                <div class="input-group input-group-sm">
                                                    <input type="text" class="form-control" formControlName="qty_turned_over" />
                                                </div>
                                            </div>
    
                                            <div class="form-group">
                                                <p for="inputName" class="h6">Date Last Withdrawn</p>
                                                <div *ngIf="isAdd" class="input-group input-group-sm">
                                              
                                                    <input class="form-control" placeholder="mm/dd/yyyy" name="dp" [(ngModel)]="model2" ngbDatepicker #d="ngbDatepicker"
                                                        [ngStyle]="{'backgroundColor': 'white'}" formControlName="date_last_withdrawn"
                                                        (dateSelect)="onDateLastWithdrawnSelect($event)" readonly>
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">📅</button>
                                                    </div>

                                                    
                                                </div>

                                                <div *ngIf="!isAdd" class="input-group input-group-sm">
                                                    <input type="text" class="form-control"
                                                        formControlName="date_last_withdrawn_edit" />
                                                </div>
                                            </div>
    
                                            <div class="form-group">
                                                <p for="inputName" class="h6">Branch of Court</p>
                                                <div class="input-group input-group-sm">
                                                    <input type="text" class="form-control" formControlName="court_branch" />
                                                    <span class="input-group-append">
                                                        <div class="input-group input-group-sm">
                                                                <button type="button" class="btn btn-info btn-flat" data-toggle="modal"
                                                                    data-target="#modal-court-branch">Select...</button>
                                                        </div>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <p for="inputName" class="h6">Criminal Case Number <b class="text-danger">*</b></p>
                                                <div class="input-group input-group-sm">
                                                    <input type="text" class="form-control" formControlName="criminal_case_no" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <p for="inputName" class="h6">Quantity Remaining</p>
                                                <div class="input-group input-group-sm">
                                                    <input type="text" class="form-control" formControlName="qty_remaining" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <p for="inputName" class="h6">No Movement</p>
                                                <div class="input-group input-group-sm">
                                                    <select class="form-control custom-select" formControlName="is_no_movement">
                                                        <option>Yes</option>
                                                        <option>No</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <p for="inputName" class="h6">Remarks</p>
                                                <div class="input-group input-group-sm">
                                                    <input type="text" class="form-control" formControlName="remarks" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="form-group">
                                                    <p for="inputName" class="h6">Requesting Party</p>
                                                    <div class="input-group input-group-sm">
                                                        <input type="text" class="form-control"
                                                            formControlName="requesting_party" />

                                                            <span class="input-group-append">
                                                                <div class="input-group input-group-sm">
                                                                        <button type="button" class="btn btn-info btn-flat" data-toggle="modal"
                                                                            data-target="#modal-requesting-parties">Select...</button>
                                                                </div>
                                                            </span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
        </div>

    </div>


    <!-- 3rd row -->
    <!-- buttons -->
    <div class="row">
        <div class="col-md-12">
            <div class="mb-3 float-right">
                <button class="btn btn-secondary mr-3" type="button" (click)="back()">Cancel</button>

                <button class="btn btn-success pull-right " type="submit" [disabled]="formData.invalid">
                    <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                    <span *ngIf="isLoading" class="sr-only">Loading...</span>
                    Save
                </button>
                <!-- [disabled]="!incidentData.valid" -->
            </div>
        </div>
    </div>
</form>
<!-- /.content -->

<app-modal-requesting-parties></app-modal-requesting-parties>

<!-- modals -->
<div class="modal fade" id="modal-operation-types" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content ">
            <div class="modal-header bg-info">
                <h6 class="modal-title">Type of Operations</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                <table class="table table-hover" [ngStyle]="{'cursor': 'pointer'}">

                    <tbody>
                        <tr *ngFor="let type of operationTypes">
                            <td (click)="onTypeSelect(type)" data-dismiss="modal">{{ type }}</td>
                        </tr>
                    </tbody>
        
                </table>
                
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-danger float-right" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-court-branch" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content ">
            <div class="modal-header bg-info">
                <h6 class="modal-title">Branch of Court</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                <table class="table table-hover" [ngStyle]="{'cursor': 'pointer'}">

                    <tbody>
                        <tr *ngFor="let branch of courtBranches">
                            <td (click)="onCourtBranchSelect(branch)" data-dismiss="modal">{{ branch }}</td>
                        </tr>
                    </tbody>
        
                </table>
                
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-danger float-right" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>