<!-- Main content -->
<form [formGroup]="incidentData" (ngSubmit)="onSubmit()">

    <!-- 1st row -->
    <div class="row">

        <!-- left upper pane -->
        <div class="col-md-6">
            <div class="card card-outline card-primary">
                <div class="card-header">
                    <h3 class="card-title">Incident/Event Details</h3>
                    <div class="card-tools"> </div>
                </div>
                <!-- /.card-header -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">
                            
                            <div class="form-group">
                                <p for="caseNo" class="h6 control-label required">Case Number <b class="text-danger">*</b></p>
                                <div class="input-group input-group-sm">
                                    <input type="text" 
                                        class="form-control" 
                                        [ngClass]="isFieldValid('caseNo') ? '' : 'is-invalid'"
                                        formControlName="caseNo"
                                        placeholder="ex. SOCO RFU COR - E 001 - 2022" 
                                        required/>
                                        <span *ngIf="!isFieldValid('caseNo')" id="caseNoId" class="error invalid-feedback">Please enter a case number.</span>
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <p for="" class="h6">Nature of Case <b class="text-danger">*</b></p>
                                <div class="input-group input-group-sm">
                                    <select 
                                        (change)="updateCategorySelection($event)"
                                        class="form-control custom-select" 
                                        [ngClass]="isFieldValid('caseNature') ? '' : 'is-invalid'"
                                        formControlName="caseNature">
                                        <option *ngFor="let category of categories" [value]="category">
                                            {{ category }}
                                        </option>
                                    </select>
                                    <!-- <option>Shooting Incident</option>
                                    <option>Found Dead Body</option>
                                    <option>hacking incident</option>
                                    <option>Robbery</option>
                                    <option>Drowning</option>
                                    <option>Alleged Suicide</option> -->
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <p for="inputDescription" class="h6">Requesting Party <b class="text-danger">*</b></p>
                                <div class="input-group input-group-sm">
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        formControlName="requestingParty" 
                                        [ngClass]="isSelectionFieldValid('requestingParty') ? '' : 'is-invalid'"
                                    />
                                    <span class="input-group-append">
                                        <div class="input-group input-group-sm">
                                            <button type="button" class="btn btn-info btn-flat" data-toggle="modal"
                                                data-target="#modal-requesting-parties">Select...</button>
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="userDivision === 'soco'">
                                <p for="inputName" class="h6">Investigator on Case</p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="investigator" />
                                </div>
                            </div>

                            <!-- for physical Identification division -->
                            <div class="form-group" *ngIf="userDivision === 'physical'">
                                <p for="inputName" class="h6">Engine Number</p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="engineno" />
                                </div>
                            </div>
                            <div class="form-group" *ngIf="userDivision === 'physical'">
                                <p for="inputName" class="h6">Chassis Number</p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="chassisno" />
                                </div>
                            </div>
                            <!-- for physical Identification division -->

                            <div class="form-group" *ngIf="userDivision === 'soco' || userDivision === 'chemistry'">
                                <p for="" class="h6">Disposition of Case</p>
                                <div class="input-group input-group-sm">
                                    <select class="form-control custom-select" formControlName="disposition" [ngClass]="isFieldValid('disposition') ? '' : 'is-invalid'">
                                        <option *ngFor="let disposition of dispositions" [value]="disposition">
                                            {{ disposition }}
                                        </option>
                                            
                                    </select>
                                        <!-- <option>Convicted</option>
                                        <option>Acquitted</option>
                                        <option>Dismissed</option>
                                        <option>No charges filed/Charges dropped</option>
                                        <option>Vacated</option>
                                        <option>Sealed</option>
                                        <option>Expunged</option>
                                        <option>Pending</option>
                                        <option>Diversion/Deferred Prosecution</option> -->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.card-body -->

            </div>
        </div>

        <!-- right upper pane -->
        <div class="col-md-6">
            <div class="card card-outline card-success">
                <div class="card-header">
                    <h3 class="card-title">DTPO & Suspect/Victim</h3>
                    <div class="card-tools"> </div>
                </div>
                <!-- /.card-header -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p for="inputName" class="h6">Date <b class="text-danger">*</b></p>
                                        <!-- formGroupName="dtpo" -->
                                        <div *ngIf="isAdd" class="input-group input-group-sm" > 
                                            <input 
                                                class="form-control" 
                                                placeholder="mm/dd/yyyy" 
                                                name="dp"
                                                [(ngModel)]="model" 
                                                ngbDatepicker #d="ngbDatepicker" 
                                                [ngStyle]="{'backgroundColor': 'white'}"
                                                formControlName="incidentDate" 
                                                (dateSelect)="onDateSelect($event)"
                                                readonly
                                            >
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">📅</button>
                                            </div>
                                        </div>
                                        <div *ngIf="!isAdd" class="input-group input-group-sm">
                                            <input type="text" class="form-control" formControlName="incidentDateEdit" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <p for="inputName" class="h6">Time <b class="text-danger">*</b></p>
                                            <div *ngIf="isAdd" class="input-group input-group-sm date" id="timepicker" data-target-input="nearest">
                                                <input 
                                                    type="time" 
                                                    class="form-control datetimepicker-input" 
                                                    data-target="#timepicker"
                                                    formControlName="incidentTime"
                                                    min="09:00" max="18:00" required
                                                >
                                            </div>

                                            <div *ngIf="!isAdd" class="input-group input-group-sm">
                                                <input type="text" class="form-control" formControlName="incidentTimeEdit" />
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <p for="inputName" class="h6">Place of Occurence</p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="location" />
                                </div>
                            </div>
                            <div class="form-group">
                                <p for="inputDescription" class="h6">Victim</p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="victimName" >
                                    <span class="input-group-append">
                                        <div class="input-group input-group-sm">
                                                <button type="button" class="btn btn-info btn-flat" data-toggle="modal"
                                                    data-target="#modal-persons">Select...</button>
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <p for="inputDescription" class="h6">Suspect</p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="suspectName" >
                                    <span class="input-group-append">
                                        <div class="input-group input-group-sm">
                                                <button type="button" class="btn btn-info btn-flat" data-toggle="modal"
                                                    data-target="#modal-suspects">Select...</button>
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <p for="inputName" class="h6">Reported By</p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="reportedBy" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
        
            </div>
        </div>
    </div>
    <!-- end of first row -->

    <!-- left lower pane -->
    <div class="row" *ngIf="userDivision === 'soco'">
        <div class="col-md-12">
            <div class="card card-outline card-primary">
                <div class="card-header">
                    <h3 class="card-title">Description of Incident/Event <b class="text-danger">*</b></h3>
                    <div class="card-tools"> </div>
                </div>
                <!-- /.card-header -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">
                            <div class="form-group">
                                <input type="text" class="form-control" 
                                    placeholder="Incident/Case Title..." 
                                    formControlName="incidentTitle" 
                                    [ngClass]="isFieldValid('incidentTitle') ? '' : 'is-invalid'" 
                                />
                                
                            </div>
                            <div class="form-group">
                                <!-- <label for="inputDescription">Description</label> -->
                                <textarea id="textarea" 
                                    class="form-control" 
                                    rows="4" 
                                    style="height: 300px" 
                                    [(ngModel)]="incidentDescription"
                                    name="caseDescription"
                                    placeholder="Enter incident/case description..."
                                    formControlName="incidentDescription"  
                                    [ngClass]="isFieldValid('incidentDescription') ? '' : 'is-invalid'" 
                                >
                                </textarea> 
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.card-body -->

            </div>
        </div>

        
    </div>
    <!-- end: left lower pane  -->

    <div class="row">
        <div class="col-md-5">
            
            <app-evidence-list [caseId]="caseId" [evidences]="evidences" (onSelected)="onSelectedProduct($event)"></app-evidence-list>

        </div>

        <div class="col-md-7">
            
            <app-photos-list></app-photos-list>
        </div>

    </div>

    <!-- buttons -->
    <div class="row">
        <div class="col-md-12">
            <div class="mb-3 float-right">
                <button class="btn btn-secondary mr-3" type="button" (click)="back()">Cancel</button>
                
                <button class="btn btn-success pull-right " type="submit" >
                    <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span *ngIf="isLoading" class="sr-only">Loading...</span>
                    {{ isLoading ? 'Saving...' : 'Save' }}
                </button>
            
            </div>
        </div>
    </div>
</form>
<!-- /.content -->

<!-- <app-parties></app-parties> -->
<app-modal-requesting-parties></app-modal-requesting-parties>
<app-modal-select-persons></app-modal-select-persons>
<app-suspect></app-suspect>
