<!-- Main content -->
<form [formGroup]="incidentData" (ngSubmit)="onSubmit()">

    <!-- 1st row -->
    <div class="row">

        <!-- left upper pane -->
        <div class="col-md-6">
            <div class="card card-outline card-primary">
                <div class="card-header">
                    <h3 class="card-title">Incident/Event Details</h3>
                    <div class="card-tools"> </div>
                </div>
                <!-- /.card-header -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">
                            <div class="form-group">
                                <p for="inputName" class="h6">SOCO Case Number</p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="caseNo"
                                        placeholder="Case# ex. SOCO RFU COR - E 001 - 2022" value="SOCO RFU COR - E 001 - 2022"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <p for="" class="h6">Nature of Case</p>
                                <div class="input-group input-group-sm">
                                    <select class="form-control custom-select" formControlName="caseNature">
                                        <option>Shooting Incident</option>
                                        <option>Found Dead Body</option>
                                        <option>Hacking Incident</option>
                                        <option>Robbery</option>
                                        <option>Drowning</option>
                                        <option>Alleged Suicide</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <p for="inputDescription" class="h6">Requesting Party</p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="requestingParty" >
                                    <span class="input-group-append">
                                        <div class="input-group input-group-sm">
                                            <button type="button" class="btn btn-info btn-flat" data-toggle="modal"
                                                data-target="#modal-borrowers">Select...</button>
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <p for="inputName" class="h6">Investigator on Case</p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="investigator" />
                                </div>
                            </div>
                            <div class="form-group">
                                <p for="" class="h6">Disposition of Case</p>
                                <div class="input-group input-group-sm">
                                    <select class="form-control custom-select" formControlName="disposition">
                                            <option>Convicted</option>
                                            <option>Acquitted</option>
                                            <option>Dismissed</option>
                                            <option>No charges filed/Charges dropped</option>
                                            <option>Vacated</option>
                                            <option>Sealed</option>
                                            <option>Expunged</option>
                                            <option>Pending</option>
                                            <option>Diversion/Deferred Prosecution</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.card-body -->

            </div>
        </div>

        <!-- right upper pane -->
        <div class="col-md-6">
            <div class="card card-outline card-success">
                <div class="card-header">
                    <h3 class="card-title">DTPO & Suspect/Victim</h3>
                    <div class="card-tools"> </div>
                </div>
                <!-- /.card-header -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p for="inputName" class="h6">Date</p>
                                        <div class="input-group input-group-sm" formGroupName="dtpo">
                                            <input 
                                                class="form-control" 
                                                placeholder="yyyy-mm-dd" 
                                                name="dp" 
                                                [(ngModel)]="model" 
                                                ngbDatepicker #d="ngbDatepicker" 
                                                [ngStyle]="{'backgroundColor': 'white'}"
                                                formControlName="incidentDate" 
                                                readonly
                                            >
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">📅</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <p for="inputName" class="h6">Time</p>
                                            <div class="input-group input-group-sm date" id="timepicker" data-target-input="nearest">
                                                <input 
                                                    type="text" 
                                                    class="form-control datetimepicker-input" 
                                                    data-target="#timepicker"
                                                    formControlName="incidentTime"
                                                >
                                                <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="far fa-clock"></i></div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <p for="inputName" class="h6">Place of Occurence</p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="location" />
                                </div>
                            </div>
                            <div class="form-group">
                                <p for="inputDescription" class="h6">Victim</p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="victimName" >
                                    <span class="input-group-append">
                                        <div class="input-group input-group-sm">
                                                <button type="button" class="btn btn-info btn-flat" data-toggle="modal"
                                                    data-target="#modal-collaterals">Select...</button>
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <p for="inputDescription" class="h6">Suspect</p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="suspectName" >
                                    <span class="input-group-append">
                                        <div class="input-group input-group-sm">
                                                <button type="button" class="btn btn-info btn-flat" data-toggle="modal"
                                                    data-target="#modal-collaterals">Select...</button>
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <p for="inputName" class="h6">Reported By</p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="reportedBy" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
        
            </div>
        </div>
    </div>
    <!-- end of first row -->

    <!-- left lower pane -->
    <div class="row">
        <div class="col-md-12">
            <div class="card card-outline card-primary">
                <div class="card-header">
                    <h3 class="card-title">Description of Incident/Event</h3>
                    <div class="card-tools"> </div>
                </div>
                <!-- /.card-header -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Incident/Case Title..." formControlName="incidentTitle" />
                                
                            </div>
                            <div class="form-group">
                                <!-- <label for="inputDescription">Description</label> -->
                                <textarea id="textarea" 
                                    class="form-control" 
                                    rows="4" 
                                    style="height: 300px" 
                                    [(ngModel)]="caseDescription"
                                    name="caseDescription"
                                    placeholder="Enter incident/case description..."
                                    formControlName="incidentDescription" >
                                </textarea> 
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.card-body -->

            </div>
        </div>

        
    </div>
    <!-- end: left lower pane  -->

    <div class="row">
        <div class="col-md-6">
            
            <app-evidence-list [evidenceList]="evidences" (onSelected)="onSelectedProduct($event)"></app-evidence-list>

        </div>

        <div class="col-md-6">
            <app-photos-list></app-photos-list>
        </div>

    </div>

    <!-- buttons -->
    <div class="row">
        <div class="col-md-12">
            <div class="mb-3 float-right">
                <button class="btn btn-secondary">Cancel</button> <span> | </span>
                <button class="btn btn-success pull-right " type="submit">Create</button>
            </div>
        </div>
    </div>
</form>
<!-- /.content -->


<!-- modal dialog for selecting borrowers -->
<div class="modal fade" id="modal-borrowers" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <div class="modal-header bg-info">
                <h6 class="modal-title">Requesting Parties</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"></h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right"
                                    placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">

                            <tbody>
                                
                                <tr *ngFor="let party of requestingParties">
                                    <td>{{ party.name }}</td>
                                </tr>
                                
                            </tbody>
                            
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <p class="text-info text-sm">#Tip: Click to select</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-danger float-right" data-dismiss="modal">Close</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<!-- modal dialog for selecting Collaterals -->
<div class="modal fade" id="modal-collaterals" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <div class="modal-header bg-info">
                <h6 class="modal-title">Select Collaterals</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"></h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right"
                                    placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>

                            </thead>
                            <tbody>
                                <tr>
                                    <td><i class="fas fa-car"></i> Auto</td>
                                </tr>
                                <tr>
                                    <td><i class="fas fa-mountain"></i> Real Property</td>
                                </tr>
                                <tr>
                                    <td><i class="fas fa-home"></i> House & Lot</td>
                                </tr>
                                <tr>
                                    <td><i class="fas fa-motorcycle"></i> Motorcycle</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-danger float-right" data-dismiss="modal">Close</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>