<!-- 1st row -->
<div class="row">

    <!-- left upper pane -->
    <div class="col-md-12">
        <div class="card card-outline card-info">
            <div class="card-header">

                <h3 class="card-title" *ngIf="!isEmpty()">
                    <h6 class="text-lg text-info text-bold" >{{ selectedRecord.firearm_name }}</h6>
                </h3>

                <div class="card-tools noprint">
                    <button type="button" [routerLink]="['/main/firearm-inventory']"
                        class="btn btn-sm btn-secondary mr-3 noprint">
                        <i class="fas fa-arrow-left"></i>
                    </button>
                    <button type="button" (click)="print()" class="btn btn-sm btn-warning noprint">
                        <i class="fas fa-print"></i>
                    </button>
                </div>

            </div>
            <!-- /.card-header -->
            <div class="row">
                <div class="col-md-12">

                    <div class="card-body" *ngIf="!isEmpty()">

                        <div class="row">
                            <!-- left pane -->
                            <div class="col-md-5">

                                <div class="form-group">
                                    <p class="m-0">Cartridge:</p>
                                    <div class="input-group input-group-sm">
                                        <p class="label-text">{{ selectedRecord.cartridge || '-' }}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p class="m-0">FCC:</p>
                                    <div class="input-group input-group-sm">
                                        <p class="label-text">{{ selectedRecord.fcc || '-' }}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p class="m-0">FB:</p>
                                    <div class="input-group input-group-sm">
                                        <p class="label-text">{{ selectedRecord.fc || '-' }}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p class="m-0">Accessories:</p>
                                    <div class="input-group input-group-sm">
                                        <p class="label-text">{{ selectedRecord.accessories || '-' }}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p class="m-0">Caliber:</p>
                                    <div class="input-group input-group-sm">
                                        <p class="label-text">{{ selectedRecord.fcaliber || '-' }}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p class="m-0">Make:</p>
                                    <div class="input-group input-group-sm">
                                        <p class="label-text">{{ selectedRecord.fmake || '-' }}</p>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <p class="m-0">Model:</p>
                                    <div class="input-group input-group-sm">
                                        <p class="label-text">{{ selectedRecord.fmodel || '-' }}</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <p class="m-0">Type:</p>
                                    <div class="input-group input-group-sm">
                                        <p class="label-text">{{ selectedRecord.ftype || '-' }}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p class="m-0">Serial Number:</p>
                                    <div class="input-group input-group-sm">
                                        <p class="label-text">{{ selectedRecord.fserial || '-' }}</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <p class="m-0">Physical Inventory:</p>
                                    <div class="input-group input-group-sm ">
                                        <p class="label-text">{{ selectedRecord.qty || '-' }}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p class="m-0">Status:</p>
                                    <div class="input-group input-group-sm">
                                        <!-- <span class="badge badge-pill badge-warning" *ngIf="selectedRecord.status"> -->
                                        <p class="label-text">{{ selectedRecord.status || '-' }}</p>
                                        <!-- </span> -->
                                    </div>
                                </div>
                            </div>

                            <!-- // right pane -->
                            <div class="col-md-7">

                                <div style="overflow: hidden;">
                                    <img style="display:block;" width="380px" height="260%"
                                        class="img-fluid img-responsive rounded" [src]="imageUrl" />
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="card-body text-sm text-info" style="font-style: italic;" *ngIf="isEmpty()">
                        No data to display. Please select from the masterlist first.
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>