<form [formGroup]="formData" (ngSubmit)="onSubmit()">
    <div class="row">
        
        <div class="col-md-6">
            <div class="card card-outline card-primary">
                <div class="card-header">
                    <h3 class="card-title">Update Password</h3>
                    <div class="card-tools"> </div>
                </div>
                <!-- /.card-header -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">
                            
                            <div class="form-group">
                                <p for="inputDescription" class="h6">Enter Current Password</p>
                                <div class="input-group input-group-sm">
                                    <input type="password" class="form-control" formControlName="current_password">
                                </div>
                            </div>
                            <div class="form-group">
                                <p for="inputDescription" class="h6">Enter New Password</p>
                                <div class="input-group input-group-sm">
                                    <input type="password" class="form-control" formControlName="new_password">
                                </div>
                            </div>
                            <div class="form-group">
                                <p for="inputDescription" class="h6">Confirm Password</p>
                                <div class="input-group input-group-sm">
                                    <input type="password" class="form-control" formControlName="confirm_password">
                                </div>
                            </div>
                            
                        </div>
                    </div>

                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button class="btn btn-success float-right" type="submit">
                        <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span *ngIf="isLoading" class="sr-only">Loading...</span>
                        Update
                    </button>
                </div>
            </div>
        </div>

    </div>

</form>