<!-- Main content -->
<form>

    <!-- 1st row -->
    <div class="row">

        <!-- left upper pane -->
        <div class="col-md-12">
            <div class="card card-outline card-primary">
                <div class="card-header">
                    
                    <h3 class="card-title" *ngIf="userData.division === 'chemistry' && selectedRecord">
                        <h6>{{ selectedRecord.case_no }}</h6>
                    </h3>
                    <div class="card-tools noprint"> 
                       
                        <button type="button" (click)="print()" class="btn btn-outline-warning btn-tool">
                            <i class="fas fa-print"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="row">
                    <div class="col-md-12">

                        <div class="card-body" *ngIf="selectedRecord">

                            <div class="row">
                                <!-- left pane -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <p class="m-0">Chemistry Case Number</p>
                                        <div class="input-group input-group-sm">
                                            <p class="h6">{{ selectedRecord.case_no || '-' }}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p class="m-0">Name of Suspect</p>
                                        <div class="input-group input-group-sm">
                                            <p class="h6">{{ selectedRecord.suspect_name || '-' }}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p class="m-0">Description</p>
                                        <div class="input-group input-group-sm">
                                            <p class="h6">{{ selectedRecord.description || '-' }}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p class="m-0">Mother Unit</p>
                                        <div class="input-group input-group-sm">
                                            <p class="h6">{{ selectedRecord.mother_unit || '-' }}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p class="m-0">Type of Operation</p>
                                        <div class="input-group input-group-sm">
                                            <p class="h6">{{ selectedRecord.operation_type || '-' }}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p class="m-0">Requesting Party</p>
                                        <div class="input-group input-group-sm">
                                            <p class="h6">{{ selectedRecord.requesting_party || '-' }}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p class="m-0">Status of Evidence</p>
                                        <div class="input-group input-group-sm">
                                            <span class="badge badge-pill badge-warning">{{ selectedRecord.evidence_status || '-' }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p class="m-0">Examiner</p>
                                        <div class="input-group input-group-sm">
                                            <p class="h6">{{ selectedRecord.examiner || '-' }}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p class="m-0">Investigator</p>
                                        <div class="input-group input-group-sm">
                                            <p class="h6">{{ selectedRecord.investigator || '-' }}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p class="m-0">Date & Time</p>
                                        <div class="input-group input-group-sm">
                                            <p class="h6">{{ selectedRecord.incident_date || '-' }} {{ selectedRecord.incident_time || '-' }}</p>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <p class="m-0">Specimen Count</p>
                                        <div class="input-group input-group-sm">
                                            <p class="h6">{{ selectedRecord.speciment_count || '-' }}</p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <p class="m-0">PPH Count</p>
                                        <div class="input-group input-group-sm">
                                            <p class="h6">{{ selectedRecord.pph_count || '-' }}</p>
                                        </div>
                                    </div>

                                    
                                </div>

                                <!-- // right pane -->
                                <div class="col-md-6">
                                    
                                    <div class="form-group">
                                        <p class="m-0">Qty Received</p>
                                        <div class="input-group input-group-sm">
                                            <p class="h6">{{ selectedRecord.qty_received || '-' }}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p class="m-0">Gross Weight</p>
                                        <div class="input-group input-group-sm">
                                            <p class="h6">{{ selectedRecord.gross_weight || '-' }}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p class="m-0">Classification</p>
                                        <div class="input-group input-group-sm">
                                            <p class="h6">{{ selectedRecord.classification || '-' }}</p>
                                        </div>
                                    </div>
                                    <div class="form-group" *ngIf="userData.division === 'soco'">
                                        <p class="m-0">Delivered By</p>
                                        <div class="input-group input-group-sm">
                                            <p class="h6">{{ selectedRecord.delivered_by || '-' }}</p>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <p class="m-0">Received By</p>
                                        <div class="input-group input-group-sm">
                                            <p class="h6">{{ selectedRecord.received_by || '-' }}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p class="m-0">Qty Turned-Over</p>
                                        <div class="input-group input-group-sm">
                                            <p class="h6">{{ selectedRecord.qty_turned_over || '-' }}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p class="m-0">Date Last Withdrawn</p>
                                        <div class="input-group input-group-sm">
                                            <p class="h6">{{ selectedRecord.date_last_withdrawn || '-' }}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p class="m-0">Court Branch</p>
                                        <div class="input-group input-group-sm">
                                            <p class="h6">{{ selectedRecord.court_branch || '-' }}</p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <p class="m-0">Criminal Case No.</p>
                                        <div class="input-group input-group-sm">
                                            <p class="h6">{{ selectedRecord.criminal_case_no || '-' }}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p class="m-0">Qty Remaining</p>
                                        <div class="input-group input-group-sm">
                                            <p class="h6">{{ selectedRecord.qty_remaining || '-' }}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p class="m-0">No Movement</p>
                                        <div class="input-group input-group-sm">
                                            <p class="h6">{{ selectedRecord.is_no_movement || '-' }}</p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <p class="m-0">GRP / Paraffin</p>
                                        <div class="input-group input-group-sm">
                                            <p class="h6">-</p>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <p class="m-0">Remarks</p>
                                        <div class="input-group input-group-sm">
                                            <p class="h6">{{ selectedRecord.remarks || '-' }}</p>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div *ngIf="!selectedRecord" class="d-flex justify-content-center m-4">
                            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->

        </div>
    </div>

</form>
<!-- /.content -->