<!-- Main content -->
<form [formGroup]="formData" (ngSubmit)="onSubmit()">

    <!-- 1st row -->
    <div class="row">
        <div class="col-md-12">
            <div class="card card-outline card-primary">
                <div class="card-header">
                    <h3 class="card-title">Evidence Details</h3>
                    <div class="card-tools"> </div>
                </div>
                <!-- /.card-header -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">
    
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <p for="inputName" class="h6">Case Number</p>
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control" formControlName="caseNo"
                                                    placeholder="ex. FAIS-000-XXXX" />
                                                <!-- <control-messages [control]="incidentData.get('caseNo')"></control-messages> -->
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <p for="" class="h6">Status</p>
                                            <div class="input-group input-group-sm">
                                                <select class="form-control custom-select" formControlName="status">
                                                    <option>ACCOUNTED IN CUSTODY</option>
                                                    <option>DEPOSITED TO COURT/PROSECUTOR</option>
                                                    <option>WITHDRAWN BY REQUESTING PARTY</option>
                                                    <option>TURNED-OVER TO FEO</option>
                                                    <option>TURNED-OVER TO LSS</option>
                                                </select>
                                                
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <p for="inputName" class="h6">Remarks</p>
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control" formControlName="remarks" />
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <p for="inputName" class="h6">Requesting Party</p>
                                                <div class="input-group input-group-sm">
                                                    <input type="text" class="form-control" formControlName="requestingParty" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>




                                    
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    
    </div>


    <!-- 2nd row -->
    <div class="row">

        <!-- left upper pane -->
        <div class="col-md-6">
            <div class="card card-outline card-primary">
                <div class="card-header">
                    <h3 class="card-title">Type of Evidence</h3>
                    <div class="card-tools"> </div>
                </div>
                <!-- /.card-header -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">
                            
                            
                            
                            <div class="form-group">
                                <p for="inputDescription" class="h6">Firearm</p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="firearmName" >
                                </div>
                            </div>
                            <div class="form-group">
                                <p for="inputDescription" class="h6">Cartridge</p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="cartridge" >
                                </div>
                            </div>
                            <div class="form-group">
                                <p for="inputDescription" class="h6">FCC</p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="fcc" >
                                </div>
                            </div>
                            <div class="form-group">
                                <p for="inputDescription" class="h6">FB</p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="fb" >
                                </div>
                            </div>
                            <div class="form-group">
                                <p for="inputDescription" class="h6">Accessories</p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="accessories" >
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.card-body -->

            </div>
        </div>

        <!-- right upper pane -->
        <div class="col-md-6">
            <div class="card card-outline card-primary">
                <div class="card-header">
                    <h3 class="card-title">Description of Firearm</h3>
                    <div class="card-tools"> </div>
                </div>
                <!-- /.card-header -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">
                           
                            <div class="form-group">
                                <p for="inputName" class="h6">Caliber/Gauge</p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="fcaliber" />
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <p for="inputName" class="h6">Make</p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="fmake" />
                                </div>
                            </div>
                            <div class="form-group">
                                <p for="inputName" class="h6">Model</p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="fmodel" />
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <p for="inputName" class="h6">Type</p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="ftype" />
                                </div>
                            </div>
                            <div class="form-group">
                                <p for="inputName" class="h6">Serial Number</p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="fserialNo" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
        
            </div>
        </div>
    </div>
    <!-- end of first row -->

    <!-- 3rd row -->
    <!-- left lower pane -->
    <div class="row">
        <div class="col-md-6">
            <div class="card card-outline card-success">
                <div class="card-header">
                    <h3 class="card-title">DTPO & Suspect/Victim</h3>
                    <div class="card-tools"> </div>
                </div>
                <!-- /.card-header -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p for="inputName" class="h6">Date</p>
                                        <!-- formGroupName="dtpo" -->
                                        <div *ngIf="isAdd" class="input-group input-group-sm" > 
                                            <input 
                                                class="form-control" 
                                                placeholder="mm/dd/yyyy" 
                                                name="dp"
                                                [(ngModel)]="model" 
                                                ngbDatepicker #d="ngbDatepicker" 
                                                [ngStyle]="{'backgroundColor': 'white'}"
                                                formControlName="incidentDate" 
                                                (dateSelect)="onDateSelect($event)"
                                                readonly
                                            >
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">📅</button>
                                            </div>
                                        </div>
                                        <div *ngIf="!isAdd" class="input-group input-group-sm">
                                            <input type="text" class="form-control" formControlName="incidentDateEdit" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <p for="inputName" class="h6">Time</p>
                                            <div *ngIf="isAdd" class="input-group input-group-sm date" id="timepicker" data-target-input="nearest">
                                                <input 
                                                    type="time" 
                                                    class="form-control datetimepicker-input" 
                                                    data-target="#timepicker"
                                                    formControlName="incidentTime"
                                                    min="09:00" max="18:00" required
                                                >
                                            </div>

                                            <div *ngIf="!isAdd" class="input-group input-group-sm">
                                                <input type="text" class="form-control" formControlName="incidentTimeEdit" />
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <p for="inputName" class="h6">Place of Occurence</p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="location" />
                                </div>
                            </div>
                            <div class="form-group">
                                <p for="inputDescription" class="h6">Victim</p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="victimName" >
                                    <span class="input-group-append">
                                        <div class="input-group input-group-sm">
                                                <button type="button" class="btn btn-info btn-flat" data-toggle="modal"
                                                    data-target="#modal-persons">Select...</button>
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <p for="inputDescription" class="h6">Suspect</p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="suspectName" >
                                    <span class="input-group-append">
                                        <div class="input-group input-group-sm">
                                                <button type="button" class="btn btn-info btn-flat" data-toggle="modal"
                                                    data-target="#modal-suspects">Select...</button>
                                        </div>
                                    </span>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
        
            </div>
        </div>
        
    </div>
    <!-- end: left lower pane  -->

    <!-- 4th row -->
    <!-- buttons -->
    <div class="row">
        <div class="col-md-12">
            <div class="mb-3 float-right">
                <button class="btn btn-secondary mr-3" type="button" (click)="back()">Cancel</button>
                
                <button class="btn btn-success pull-right " type="submit">
                    <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span *ngIf="isLoading" class="sr-only">Loading...</span>
                    {{ isLoading ? 'Saving...' : 'Save' }}
                </button>
                <!-- [disabled]="!incidentData.valid" -->
            </div>
        </div>
    </div>
</form>
<!-- /.content -->

<!-- <app-parties></app-parties> -->
<app-modal-requesting-parties></app-modal-requesting-parties>
<app-modal-select-persons></app-modal-select-persons>
<app-suspect></app-suspect>
