<div class="card" [ngClass]="isAdd ? 'card-outline card-info' : '' ">
    <div class="card-header">
        <div class="input-group input-group-sm" style="width: 250px;">
            <input 
                type="text" 
                name="table_search" 
                class="form-control float-right"
                placeholder="Search"
                (ngModelChange)="Search($event)"
                [(ngModel)]="nameSearchKey"
            >

            <div class="input-group-append">
                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0">
        <table class="table table-hover">
            <thead>

            </thead>
            <tbody>
                <tr *ngFor="let person of persons | paginate: {itemsPerPage: 10, currentPage: p, id: persons };">
                    <td (click)="onSelect(person.firstname + ' ' +person.lastname)" data-dismiss="modal">
                        <i class="fas fa-user text-info mr-1" ></i> {{ person.firstname }} {{ person.lastname }}
                    </td>
                    <td *ngIf="isAdd">
                        <button type="button" class="btn btn-danger btn-xs float-right" (click)="onDelete(person.id)">
                            <i class="fas fa-times"></i>
                        </button>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->

    <div class="card-footer clearfix">
        <pagination-controls (pageChange)="p = $event" [id]="persons"></pagination-controls>
    </div>
</div>