<div class="modal fade" id="modal-persons" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <div class="modal-header bg-info">
                <h6 class="modal-title">Select from the list</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header">
                        <div class="input-group input-group-sm" style="width: 350px;">
                            <input 
                                type="text" 
                                name="table_search" 
                                class="form-control float-right"
                                placeholder="Search"
                                (ngModelChange)="Search($event)"
                                [(ngModel)]="nameSearchKey"
                            >

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>

                            </thead>
                            <tbody>
                                <tr *ngFor="let person of persons">
                                    <td (click)="onSelect(person.firstname + ' ' +person.lastname)" data-dismiss="modal">
                                        <i class="fas fa-user text-info mr-1" ></i> {{ person.firstname }} {{ person.lastname }}
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-danger float-right" data-dismiss="modal">Close</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>