<div class="card card-outline card-info">
    <div class="card-header">
        <h3 class="card-title">Suspect/s</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-outline-info btn-tool" data-toggle="modal" data-target="#modal-add-suspect" *ngIf="!isView">
                <i class="fas fa-plus"></i> Add...
            </button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0">

        <table class="table table-hover">
            <!-- <thead>
                <tr>
                    <th>Name/Description of Evidence</th>
                </tr>
            </thead> -->
            <tbody>
                <tr *ngFor="let suspect of suspects">
                    <td><i class="fas fa-circle text-success mr-2"></i> {{ suspect.firstname }} {{ suspect.lastname }}</td>
                    <td><button type="button" class="btn btn-danger btn-xs float-right" (click)="removeSuspect(suspect.id)" *ngIf="!isView">
                        <i class="fas fa-times"></i>
                    </button></td>
                </tr>
            </tbody>
            <tfoot *ngIf="suspects.length == 0" class="text-left">
                <p class="text-secondary m-2 ml-3 text-sm">No suspect/s added.</p>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
</div>


<!-- modal dialog for adding evidence recovered -->
<app-modal-suspect-entry></app-modal-suspect-entry>
