<div class="card" [ngClass]="isAdd ? 'card-outline card-info' : '' ">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="input-group input-group-sm">

            <input type="text" name="searchKey" class="form-control float-left" placeholder="Search"
                (ngModelChange)="Search($event)" [(ngModel)]="searchKey">
            <div class="input-group-append">
                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
            </div>

        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0">
        <table class="table table-hover">

            <tbody>
                <tr *ngFor="let party of requestingParties">
                    <td (click)="onSelect(party.name)" data-dismiss="modal">{{ party.name }}</td>
                    <td *ngIf="isAdd">
                        <button type="button" class="btn btn-danger btn-xs float-right" (click)="onDelete(party.id)">
                            <i class="fas fa-times"></i>
                        </button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <!-- /.card-body -->
    <div class="card-footer" *ngIf="requestingParties.length === 0">
        <p class="text-info text-sm">No records found.</p>
    </div>
</div>