<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center" style="height: 0px;">
      <img class="animation__shake" src="assets/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60"
          style="display: none;">
  </div>

  <router-outlet></router-outlet>

  <!-- /.content-wrapper -->
  <app-footer></app-footer>

  <app-control-sidebar></app-control-sidebar>

  <!-- /.control-sidebar -->
  <div id="sidebar-overlay"></div>
</div>
