<div class="card card-outline card-danger">
    <div class="card-header">
        <h3 class="card-title">Firearms</h3>

        <div class="card-tools">
            <button type="button" 
            class="btn btn-outline-info btn-tool" 
            data-toggle="modal" 
            data-target="#modal-firearm-entry"
            *ngIf="!isView"
            >
                <i class="fas fa-plus"></i> Add Firearm...
            </button>

            <!-- <button type="button" class="btn btn-outline-warning btn-tool" (click)="open()">
                <i class="fas fa-plus"></i> Add Firearm...
            </button> -->
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0">

        <table class="table table-hover">
            <thead *ngIf="firearms.length > 0">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Caliber</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Type</th>
                    <th>Serial No</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let f of firearms">
                    <td>
                        <img style="cursor: pointer;" class="direct-chat-img" [src]="baseUrl+urlPath+f.image_filename"/>
                    </td>
                    <td>{{ f.firearm_name }}</td>
                    <td>{{ f.fcaliber }}</td>
                    <td>{{ f.fmake }}</td>
                    <td>{{ f.fmodel }}</td>
                    <td>{{ f.ftype }}</td>
                    <td>{{ f.fserial_no }}</td>
                    <td>{{ f.status }}</td>
                    <td>
                        <button type="button" class="btn btn-danger btn-xs float-right" (click)="onDelete(f.id)" *ngIf="!isView">
                            <i class="fas fa-times"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot *ngIf="firearms.length == 0" class="text-left">
                <p class="text-secondary m-2 ml-3 text-sm">No firearm/s added.</p>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<app-modal-firearm-entry (newFireArmsListEvent)="addFireArm($event)"></app-modal-firearm-entry>
<!-- <app-modal-firearm-entry></app-modal-firearm-entry> -->