<div class="modal fade" id="modal-firearm-entry" style="display: none;" aria-hidden="true" #modalFirearmEntry>
    <form [formGroup]="formData" (ngSubmit)="onSubmit()">
        <div class="modal-dialog modal-lg">
            <div class="modal-content ">
                <div class="modal-header bg-primary">
                    <h6 class="modal-title">Add Firearm</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <!-- right pane -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <p for="inputDescription" class="h6">Name of Firearm <b class="text-danger">*</b></p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="firearmName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <p for="inputDescription" class="h6">Cartridge <b class="text-danger">*</b></p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="cartridge" />
                                </div>
                            </div>
                            <div class="form-group">
                                <p for="inputDescription" class="h6">FCC</p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="fcc" />
                                </div>
                            </div>
                            <div class="form-group">
                                <p for="inputDescription" class="h6">FB</p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="fb" />
                                </div>
                            </div>
                            <div class="form-group">
                                <p for="inputDescription" class="h6">Accessories</p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="accessories" />
                                </div>
                            </div>

                            <div class="form-group">
                                <p for="inputDescription" class="h6">Physical Inventory</p>
                                <div class="input-group input-group-sm">
                                    <input type="number" class="form-control" formControlName="qty" placeholder="total quantity" />
                                </div>
                            </div>

                        </div>

                        <!-- left-pane -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <p for="inputName" class="h6">Caliber/Gauge <b class="text-danger">*</b></p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="fcaliber" />
                                </div>
                            </div>

                            <div class="form-group">
                                <p for="inputName" class="h6">Make <b class="text-danger">*</b></p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="fmake" />
                                </div>
                            </div>
                            <div class="form-group">
                                <p for="inputName" class="h6">Model <b class="text-danger">*</b></p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="fmodel" />
                                </div>
                            </div>

                            <div class="form-group">
                                <p for="inputName" class="h6">Type <b class="text-danger">*</b></p>
                                <div class="input-group input-group-sm">

                                    <select #firearms formControlName="ftype" [(ngModel)]="selectedGunType"
                                        (change)="selectChangeHandler(firearms.value)" class="form-control" required>
                                        <option *ngFor="let ft of firearmTypes" value={{ft}}>
                                            {{ ft }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <p for="inputName" class="h6">Serial Number</p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="fserialNo" />
                                </div>
                            </div>

                            <div class="form-group">
                                <p for="inputName" class="h6">Status</p>
                                <div class="input-group input-group-sm">
                                    <select 
                                        #statusSelection
                                        class="form-control custom-select" 
                                        formControlName="status"
                                        [(ngModel)]="selectedStatus"
                                        (change)="selectStatusHandler(statusSelection.value)"
                                    >
                                        <option *ngFor="let fs of firearmStatus" value={{fs}}>
                                            {{ fs }}
                                        </option>
                                    </select>
                                </div>
                                
                            </div>

                        </div>

                    </div>



                    <div class="row mt-3">

                        <div class="col-md-6">
                            <div class="input-group">
                                <input class="form-control" type="file" (change)="selectPhoto($event)">
                            </div>
                        </div>

                        <div class="col-md-6" *ngIf="fileData"> 
                            
                            <div 
                                class="thumbnail" 
                                style="overflow: hidden"
                                *ngIf="fileData.filetype === 'image/jpg' || fileData.filetype === 'image/jpeg' || fileData.filetype === 'image/png'" 
                                data-toggle="modal" 
                                data-target="#modal-file-viewer"
                            >
                                <img style="cursor: pointer;" style="width:380px" height="320px" class="img-responsive" [src]="imageUrl" />
                            </div>
                           
                        </div>

                    </div>

                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-danger float-right" data-dismiss="modal">Close</button>
                    <button class="btn btn-success float-right" type="button" (click)="onSubmit()" data-dismiss="modal">Save</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </form>
</div>

