<form>
    <div class="row">
        
        <div class="col-md-6">
            <div class="card card-outline card-primary">
                <div class="card-header">
                    <h3 class="card-title">Manage Case/Incident Categories</h3>
                    <div class="card-tools"> </div>
                </div>
                <!-- /.card-header -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">
                            <div class="form-group">
                                <p for="inputName" class="h6">Description</p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="caseNo"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <p for="" class="h6">Nature of Case</p>
                                <div class="input-group input-group-sm">
                                    <select class="form-control custom-select" formControlName="caseNature">
                                        <option>Shooting Incident</option>
                                        <option>Found Dead Body</option>
                                        <option>Hacking Incident</option>
                                        <option>Robbery</option>
                                        <option>Drowning</option>
                                        <option>Alleged Suicide</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <p for="inputDescription" class="h6">Requesting Party</p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="requestingParty" >
                                    <span class="input-group-append">
                                        <div class="input-group input-group-sm">
                                            <button type="button" class="btn btn-info btn-flat" data-toggle="modal"
                                                data-target="#modal-borrowers">Select...</button>
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <p for="inputName" class="h6">Investigator on Case</p>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" formControlName="investigator" />
                                </div>
                            </div>
                            <div class="form-group">
                                <p for="" class="h6">Disposition of Case</p>
                                <div class="input-group input-group-sm">
                                    <select class="form-control custom-select" formControlName="disposition">
                                            <option>Convicted</option>
                                            <option>Acquitted</option>
                                            <option>Dismissed</option>
                                            <option>No charges filed/Charges dropped</option>
                                            <option>Vacated</option>
                                            <option>Sealed</option>
                                            <option>Expunged</option>
                                            <option>Pending</option>
                                            <option>Diversion/Deferred Prosecution</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.card-body -->

            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="mb-3 float-left">
                <!-- <button class="btn btn-secondary mr-3">Cancel</button> -->
                
                <button class="btn btn-success pull-right " type="submit">
                    <!-- <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span *ngIf="isLoading" class="sr-only">Loading...</span> -->
                    Save
                </button>
               
            </div>
        </div>
    </div>
</form>