<div class="row">
    <div class="col-md-9">
        <div class="card card-outline card-info">
            <div class="card-header">
                <h3 class="card-title"></h3>
                <div class="card-tools">
                    <button type="button"
                        class="btn btn-success btn-sm float-right"
                        data-toggle="modal"
                        data-target="#modal-user-registration">
                        <i class="fas fa-user-plus mr-1"></i> Add New User
                    </button>
                </div>
                    
            </div>

            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                    <thead>
                        <th>User Fullname</th>
                        <th>Username</th>
                        <th>Division</th>
                        <th>Access Level</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users | paginate: {itemsPerPage: 10, currentPage: p, id: users };">
                            <td>
                                <i class="fas fa-user text-info mr-1" ></i> {{ user.firstname }} {{ user.lastname }}
                            </td>
                            <td>
                                {{ user.username }}
                            </td>
                            <td>
                                {{ user.division }}
                            </td>
                            <td>
                                <span *ngIf="user.usertype === 'Administrator'" class="badge badge-pill badge-success font-weight-bold mr-1">
                                    Administrator
                                </span>
                                <span *ngIf="user.usertype === 'Encoder'" class="badge badge-pill bg-purple font-weight-bold mr-1">
                                    {{ user.usertype }}
                                </span>
                                <span *ngIf="user.usertype === 'Examiner'" class="badge badge-pill bg-fuchsia font-weight-bold mr-1">
                                    {{ user.usertype }}
                                </span>
                            </td>
                            <td>
                               
                                <button type="button" class="btn btn-danger btn-xs float-right" (click)="onDelete(user.id)">
                                    <i class="fas fa-times"></i>
                                </button>

                                <button type="button" 
                                    class="btn btn-primary btn-xs float-right mr-2" 
                                    [routerLink]="['/main/users/update', user.id]">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        
            <div class="card-footer clearfix">
                <pagination-controls (pageChange)="p = $event" [id]="users"></pagination-controls>
            </div>
        </div>
    </div>

    <app-modal-user-registration></app-modal-user-registration>

</div>