<div class="card card-outline card-warning noprint">
    <div class="card-header">
        <h3 class="card-title">Record Files</h3>

        <div class="card-tools" *ngIf="!isViewOnly">
            <i class="text-secondary text-xs">*Note: You can upload images, PDF, MS Word, Excel & other types of files.</i>
        </div>

    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0">

        <div class="col-md-12 p-3" *ngIf="!isViewOnly">
            <app-photo-uploader></app-photo-uploader>
        </div>
        <!-- http://127.0.0.1:8000/storage/photos/fuck.jpg -->
        <table class="table table-hover" *ngIf="files.length > 0">
            <thead>
                <tr>
                    <th>File</th>
                    <th>Filename</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let file of files">

                    <td *ngIf="file.filetype === 'image/jpeg' || file.filetype === 'image/png'" (click)="onSelectFile(file.filename.split('.')[0], baseUrl+urlPath+file.filename)" data-toggle="modal" data-target="#modal-file-viewer">
                        <img style="cursor: pointer;" class="direct-chat-img" [src]="baseUrl+urlPath+file.filename"/>
                    </td>
                    <td *ngIf="file.filetype === 'application/pdf'">
                        <a [href]="baseUrl+urlPath+file.filename" [download]="file.filename">
                            <img class="direct-chat-img" src="./assets/icons/pdf.png"/>
                        </a>
                    </td>
                    <td *ngIf="file.filetype === 'application/excel' || file.filetype.includes('spreadsheet')">
                        <a [href]="baseUrl+urlPath+file.filename" [download]="file.filename">
                            <img class="direct-chat-img" src="./assets/icons/excel.png"/>
                        </a>
                    </td>
                    <td *ngIf="file.filetype === 'application/docx' || file.filetype.includes('wordprocessing')">
                        <a [href]="baseUrl+urlPath+file.filename" [download]="file.filename">
                            <img class="direct-chat-img" src="./assets/icons/msword.png"/>
                        </a>
                    </td>
                    <td *ngIf="file.filetype === 'application/x-zip-compressed'">
                        <a [href]="baseUrl+urlPath+file.filename" [download]="file.filename">
                            <img class="direct-chat-img" src="./assets/icons/zip.png"/>
                        </a>
                    </td>
                    <td *ngIf="file.filetype === 'text/plain'">
                        <a [href]="baseUrl+urlPath+file.filename" [download]="file.filename">
                            <img class="direct-chat-img" src="./assets/icons/txt.png"/>
                        </a>
                    </td>

                    <td *ngIf="file.filetype === 'video/mp4'">
                        <a [href]="baseUrl+urlPath+file.filename" [download]="file.filename">
                            <img class="direct-chat-img" src="./assets/icons/video.png"/>
                        </a>
                    </td>

                    <td>{{ file.filename.split('.')[0] }}</td>

                    <td><a [href]="baseUrl+urlPath+file.filename" [download]="file.filename"><i class="fas fa-download"></i></a></td>
                    
                    <td *ngIf="!isViewOnly"><button type="button" class="btn btn-danger btn-xs float-right" (click)="removeFile(file)" *ngIf="!isViewOnly">
                        <i class="fas fa-times"></i>
                    </button></td>
                </tr>
            </tbody>
        </table>
        <tfoot *ngIf="files.length == 0" class="text-left">
            <p class="text-secondary m-2 ml-3 text-sm">No files/photos uploaded.</p>
        </tfoot>
    </div>
    <!-- /.card-body -->
</div>

<app-file-viewer [filePath]="fileSrc" [filename]="filename"></app-file-viewer>