<div class="card card-outline card-warning">
    <div class="card-header">
        <h3 class="card-title">Photos Taken</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-toggle="modal" data-target="#modal-lg">
                <i class="fas fa-plus"></i> Add...
            </button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Fullname</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img class="direct-chat-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR33pPXso3HVQjobpRqanz5D_f2sVV33vwtsA&usqp=CAU" /></td>
                    <td><span class="tag tag-success">Approved</span></td>
                    
                </tr>
                <tr>
                    <td>Alexander Pierce</td>
                    <td><span class="tag tag-warning">Pending</span></td>
                    
                </tr>
                <tr>
                    <td>Bob Doe</td>
                    <td><span class="tag tag-primary">Approved</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>


<!-- modal dialog for uploading photos -->
<div class="modal fade" id="modal-lg" style="display: none;" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <div class="modal-header bg-primary">
                <h6 class="modal-title">Add Photos</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                   
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control"
                        placeholder="" />
                    </div>
                </div>
            </div>
            

            <div class="modal-footer">
                <button type="button" class="btn btn-outline btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline btn-primary">Add</button>
              </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>