<div class="card card-outline card-warning">
    <div class="card-header">
        <h3 class="card-title">Case/Incident Files</h3>

        <div class="card-tools">
            <i class="text-secondary text-xs">*Note: You can upload images, PDF, MS Word, Excel & other types of files.</i>
        </div>

    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0">

        <div class="col-md-12 p-3">
            <app-photo-uploader></app-photo-uploader>
        </div>
        <!-- http://127.0.0.1:8000/storage/photos/fuck.jpg -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>File</th>
                    <th>Filename</th>
                    <th>Filetype</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let file of files">
                    <td><img class="direct-chat-img" [src]="baseUrl+urlPath+file.filename" /></td>
                    <td>{{ file.filename.split('.')[0] }}</td>
                    <td><span class="tag tag-success">{{ file.filetype }}</span></td>
                    <td><button type="button" class="btn btn-danger btn-xs float-right" (click)="removeFile(file)">
                        <i class="fas fa-times"></i>
                    </button></td>
                </tr>
            </tbody>
        </table>

    </div>
    <!-- /.card-body -->
</div>