<div class="card card-outline card-primary">

    <div class="card-header container-fluid">
        <div class="row">
            <div class="col-md-4 float-left">
            
                <div class="input-group">
                    <input type="text" class="form-control float-left" name="search" ngModel (ngModelChange)="onSearch($event)"
                        placeholder="Search...">
                    <button class="btn btn-outline-info" type="button" (click)="clearSearch()"
                        id="button-addon2"><i class="fas fa-search"></i></button>
                </div>
            </div>
            
                <div class="col-md-8 float-right">
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#modal-firearm-entry">
                        <span class="text-sm"><i class="fas fa-plus"></i> Add Firearm...</span>
                    </button>
                </div>
        </div>
    </div>

    <!-- /.card-header -->
    <div class="card-body table-responsive p-0">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Caliber</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Type</th>
                    <th>Serial No</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let f of this.firearms" style="cursor: pointer;">
                    <td (click)="onSelectView(f.id)" [routerLink]="['view', f.id]">
                        <img style="cursor: pointer;" class="direct-chat-img" [src]="baseUrl+urlPath+f.image_filename"/>
                    </td>
                    <td (click)="onSelectView(f.id)" [routerLink]="['view', f.id]">{{ f.firearm_name }}</td>
                    <td (click)="onSelectView(f.id)" [routerLink]="['view', f.id]">{{ f.fcaliber }}</td>
                    <td (click)="onSelectView(f.id)" [routerLink]="['view', f.id]">{{ f.fmake }}</td>
                    <td>{{ f.fmodel }}</td>
                    <td>{{ f.ftype }}</td>
                    <td>{{ f.fserial_no }}</td>
                    <td>
                        <button type="button" class="btn btn-outline-danger btn-xs float-right" (click)="onDelete(f.id)">
                            <i class="fas fa-trash"></i>
                        </button>
                        <button *ngIf="userData.usertype === 'Encoder'" type="button" (click)="onSelectView(f.id)" [routerLink]="['view', f.id]" class="btn btn-outline-info btn-xs mr-2 float-right"><i class="fas fa-eye"></i></button>
                        <button *ngIf="userData.usertype === 'Encoder'" type="button" (click)="onSelectEdit(f.id)" [routerLink]="['edit', f.id]" class="btn btn-outline-primary btn-xs mr-2 float-right"><i class="fas fa-edit"></i></button>
                        
                    </td>
                </tr>
            </tbody>
            <tfoot *ngIf="this.firearms.length === 0" class="text-left">
                <p class="text-secondary m-2 ml-3 text-sm">No firearm/s added.</p>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
</div>

<app-modal-firearm-entry (newFireArmsListEvent)="addFireArm($event)"></app-modal-firearm-entry>
