<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="javascript:void(0)" class="brand-link">
        <img src="assets/logo.jpg" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span *ngIf="isMobileView" class="brand-text font-weight-light">RMS</span>
        <span *ngIf="!isMobileView" class="brand-text font-weight-light"><b>IRMS </b> <span class="text-xs">version1.1.0</span></span>
    </a>

    <!-- Sidebar -->
    <div
        class="sidebar os-host os-theme-light os-host-overflow os-host-overflow-y os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition">
        <div class="os-resize-observer-host observed">
            <div class="os-resize-observer" style="left: 0px; right: auto;"></div>
        </div>
        <div class="os-size-auto-observer observed" style="height: calc(100% + 1px); float: left;">
            <div class="os-resize-observer"></div>
        </div>
        <div class="os-content-glue" style="margin: 0px -8px; width: 249px; height: 697px;"></div>
        <div class="os-padding">
            <div class="os-viewport os-viewport-native-scrollbars-invisible" style="overflow-y: scroll;">
                <div class="os-content" style="padding: 0px 8px; height: 100%; width: 100%;">
                    <!-- Sidebar user panel (optional) -->
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex" *ngIf="userType !== 'Administrator'">
                        <!-- <div class="image">
                            <img src="assets/icons/org.png" class=" elevation-0">  
                        </div> -->
                        <div class="info text-wrap" >
                            <a href="javascript:void(0)" class="d-block text-sm ml-2">{{ division | uppercase }} DIVISION</a>
                        </div>
                    </div>

                    <!-- Sidebar Menu -->
                    <nav class="mt-2" attr.data-widget="{{ isMobileView ? 'pushmenu' : '' }}">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                            data-accordion="false">
                            <li class="nav-item">
                                <a 
                                    href="javascript:void(0)" 
                                    class="nav-link" 
                                    (click)="setPageTitle('')"
                                    [routerLink]="['dashboard']"
                                    routerLinkActive="router-link-active">
                                    <i class="nav-icon fas fa-tachometer-alt"></i>
                                    <p> Dashboard</p>
                                </a>
                            </li>
                            <li class="nav-item" *ngIf="userType !== 'Administrator'">
                                <a 
                                    href="javascript:void(0)" 
                                    class="nav-link" 
                                    (click)="setPageTitle('LIST OF CASES')"
                                    [routerLink]="['records']"
                                    routerLinkActive="router-link-active">
                                    <i class="nav-icon fas fa-layer-group"></i>
                                    <p>
                                        {{ division === 'soco' 
                                            ? 'Incidents/Events' 
                                            : 'Cases'
                                               
                                        }} 
                                        <span *ngIf="this.count > 0" class="badge badge-pill badge-primary right">
                                            {{ count > 0 ? count : null }}
                                        </span>
                                    </p>
                                </a>
                            </li>
                            <!-- <li *ngIf="division === 'ballistic'" class="nav-item">
                                <a href="javascript:void(0)" 
                                    class="nav-link" 
                                    (click)="setPageTitle('FIREARMS INVENTORY')"
                                    [routerLink]="['firearms']"
                                    routerLinkActive="router-link-active">
                                    <i class="nav-icon fa fa-list-ul"></i>
                                    <p>Firearms Inventory
                                        <span *ngIf="firearmInventoryCount > 0" class="badge badge-pill badge-primary right">
                                            {{ firearmInventoryCount > 0 ? firearmInventoryCount : null }}
                                        </span>
                                    </p>
                                </a>
                            </li> -->
                            <li *ngIf="division === 'chemistry'" class="nav-item">
                                <a href="javascript:void(0)" 
                                    class="nav-link" 
                                    (click)="setPageTitle('CRIMINAL DRUG TEST & DANGEROUS DRUGS RECORDS')"
                                    [routerLink]="['drugtest']"
                                    routerLinkActive="router-link-active">
                                    <i class="nav-icon fa fa-flask"></i>
                                    <p>Criminal Drug Test
                                        <span *ngIf="firearmInventoryCount > 0" class="badge badge-pill badge-primary right">
                                            {{ drugTestCount > 0 ? drugTestCount : null }}
                                        </span>
                                    </p>
                                </a>
                            </li>
                            <li *ngIf="userType === 'Administrator'" class="nav-item">
                                <a 
                                    href="javascript:void(0)" 
                                    class="nav-link" 
                                    (click)="setPageTitle('USER ACCOUNTS')" 
                                    [routerLink]="['users']"  
                                    routerLinkActive="router-link-active">
                                    <i class="nav-icon fas fa-users"></i>
                                    <p>User Accounts
                                        <!-- <span class="badge badge-pill badge-primary right">{{  }}</span> -->
                                    </p>
                                </a>
                            </li>
                            <li *ngIf="userType === 'Administrator'" class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-copy"></i>
                                    <p>Data Entries<i class="fas fa-angle-left right"></i></p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link" 
                                        (click)="setPageTitle('MANAGE CASE NATURES')"
                                        [routerLink]="['records/manage/categories']"  
                                        routerLinkActive="router-link-active">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Nature of Cases</p>
                                        </a>
                                    </li>
                                    <!-- <li class="nav-item">
                                        <a href="#" class="nav-link" 
                                        (click)="setPageTitle('MANAGE LIST OF SUSPECTS')"
                                        [routerLink]="['manage/persons']"  
                                        routerLinkActive="router-link-active">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Suspects</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link" 
                                        (click)="setPageTitle('MANAGE LIST OF VICTIMS')"
                                        [routerLink]="['manage/persons']"  
                                        routerLinkActive="router-link-active">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Victims</p>
                                        </a>
                                    </li> -->
                                    <li class="nav-item">
                                        <a href="#" class="nav-link" 
                                        (click)="setPageTitle('MANAGE REQUESTING PARTIES')"
                                        [routerLink]="['records/manage/requesting-parties']"  
                                        routerLinkActive="router-link-active">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Requesting Parties</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link" 
                                        (click)="setPageTitle('MANAGE DISPOSITIONS')"
                                        [routerLink]="['manage/dispositions']"  
                                        routerLinkActive="router-link-active">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Dispositions</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li *ngIf="userType === 'Administrator'" class="nav-item">
                                <a 
                                    href="javascript:void(0)" 
                                    class="nav-link" 
                                    (click)="setPageTitle('CASE/INCIDENTS REPORTS')" 
                                    [routerLink]="['records/reports']"  
                                    routerLinkActive="router-link-active">
                                    <i class="nav-icon fa fa-book"></i>
                                    <p>Case/Incidents Reports</p>
                                </a>
                            </li>
                            <!-- <li *ngIf="userType === 'Administrator'" class="nav-item">
                                <a 
                                    href="javascript:void(0)" 
                                    class="nav-link" 
                                    (click)="setPageTitle('BACKUP & RESTORE DATABASE')"
                                    [routerLink]="['manage/database']" 
                                    routerLinkActive="router-link-active">
                                    <i class="nav-icon fa fa-database"></i>
                                    <p>Manage Database
                                    </p>
                                </a>
                            </li> -->
                            <li class="nav-item" (click)="logout()">
                                <a href="javascript:void(0)" class="nav-link">
                                    <i class="nav-icon fas fa-sign-out-alt"></i>
                                    <p>Logout</p>
                                </a>
                            </li>

                        </ul>
                    </nav>
                    <!-- /.sidebar-menu -->
                </div>
            </div>
        </div>
        <div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden">
            <div class="os-scrollbar-track">
                <div class="os-scrollbar-handle" style="width: 100%; transform: translate(0px, 0px);"></div>
            </div>
        </div>
        <div class="os-scrollbar os-scrollbar-vertical os-scrollbar-auto-hidden">
            <div class="os-scrollbar-track">
                <div class="os-scrollbar-handle" style="height: 31.9305%; transform: translate(0px, 0px);">
                </div>
            </div>
        </div>
        <div class="os-scrollbar-corner"></div>
    </div>
    <!-- /.sidebar -->
</aside>