<div>
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>{{ totalCases }}</h3>

                    <p>Total No. of Cases/Incidents</p>
                </div>
                <div class="icon">
                    <i class="fa fa-address-card"></i>
                </div>
                <a [routerLink]="['../cases']"  class="small-box-footer">View <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>{{ totalHackingIncident }}<sup style="font-size: 20px"></sup></h3>

                    <p>Hacking Incident/Reports</p>
                </div>
                <div class="icon">
                    <i class="fa fa-user-circle"></i>
                </div>
                <a [routerLink]="['../cases']"  class="small-box-footer">View <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>{{ totalRobberyIncident }}</h3>

                    <p>Robbery Incidents</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a [routerLink]="['../cases']"  class="small-box-footer">View <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-primary">
                <div class="inner">
                    <h3>{{ totalShootingIncident }}</h3>

                    <p>Shooting Incidents</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a [routerLink]="['../cases']"  class="small-box-footer">View <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-purple">
                <div class="inner">
                    <h3>{{ totalDrowningIncident }}</h3>

                    <p>Drowning Incidents</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a [routerLink]="['../cases']"  class="small-box-footer">View <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-fuchsia">
                <div class="inner">
                    <h3>{{ totalSuicideIncident }}</h3>

                    <p>Suicide Incidents</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a [routerLink]="['../cases']"  class="small-box-footer">View <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-orange">
                <div class="inner">
                    <h3>{{ requestingParties.length }}</h3>

                    <p>Requesting Parties</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a [routerLink]="['../cases/manage/requesting-parties']"  class="small-box-footer">View <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-maroon">
                <div class="inner">
                    <h3>6</h3>

                    <p>Divisions</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a [routerLink]="['../cases']"  class="small-box-footer">View <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->

    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">

        <div class="col-md-6">
            <div class="card">
                <div class="card-header border-0">
                    <h3 class="card-title">Total No. of Cases/Incidents per Barangay</h3>
                    <div class="card-tools">
                        <a href="#" class="btn btn-tool btn-sm">
                            <i class="fas fa-download"></i>
                        </a>
                        <a href="#" class="btn btn-tool btn-sm">
                            <i class="fas fa-bars"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-striped table-valign-middle">
                        <thead>
                            <tr>
                                <th><span class="font-weight-normal">BARANGAY</span></th>
                                <th class="text-center"><span class="font-weight-normal">TOTAL CASES/INCIDENTS</span></th>
                                <!-- <th>Sales</th>
                                <th>More</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let location of locations">
                                <td>
                                    {{ location.name }}
                                </td>
                                <td class="text-center">
                                    <span class="badge badge-pill badge-info font-weight-bold mr-1">
                                        {{ location.count }}
                                    </span>
                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-header border-0">
                    <h3 class="card-title">Conviction Rate</h3>
                    <div class="card-tools">
                        <a href="#" class="btn btn-sm btn-tool">
                            <i class="fas fa-download"></i>
                        </a>
                        <a href="#" class="btn btn-sm btn-tool">
                            <i class="fas fa-bars"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                        <p class="text-success text-xl">
                            <i class="fa fa-users"></i>
                        </p>
                        <p class="d-flex flex-column text-right">
                            <span class="font-weight-bold">
                                <i class="ion ion-android-arrow-up text-success"></i> 12%
                            </span>
                            <span class="text-muted">Drug Evidence Submitted to Court/PDEA</span>
                        </p>
                    </div>
        
                    <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                        <p class="text-danger text-xl">
                            <i class="fa fa-users-slash"></i>
                        </p>
                        <p class="d-flex flex-column text-right">
                            <span class="font-weight-bold">
                                <i class="ion ion-android-arrow-up text-warning"></i> 2.8%
                            </span>
                            <span class="text-muted">Firearms submitted to court</span>
                        </p>
                    </div>
        
                </div>
            </div>
        
        </div>

        <!-- right col -->
    </div>
    <!-- /.row (main row) -->
</div>