<div>
  

  <div class="row">
    <div class="col-12">
      <div class="card card-outline card-primary">
        <div class="card-header" >

          <!-- add button -->
          <button 
            *ngIf="userData.usertype === 'Encoder'"
            type="button" 
            class="btn btn-success btn-sm float-left" 
            [routerLink]="['entry']" 
            (click)="setPageTitle('CREATE NEW INCIDENT/CASE RECORD')"
            routerLinkActive="router-link-active">
            <i class="fas fa-plus"></i> New Record
          </button>
          <!-- end: add button -->

          <div class="card-tools">
            <div class="input-group input-group-sm">

              <input type="text" class="form-control float-right" name="caseTitle" [(ngModel)]="caseTitle"
                (ngModelChange)="Search()" placeholder="Search">

              <div class="input-group-append">
                <button type="submit" class="btn btn-default">
                  <i class="fas fa-search"></i>
                </button>
              </div>

            </div>
          </div>

        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">

          <table *ngIf="cases.length > 0" class="table table-hover text-nowrap">
            <thead>
              <tr>

                <th>Case No.</th>
                <th>Nature of Case</th>
                <th *ngIf="userDivision === 'soco'">Name of Incident/Case</th>
                <th>Requesting Party</th>
                <th *ngIf="userDivision === 'soco' || userDivision ==='chemistry'">Disposition</th>
                <th *ngIf="userDivision === 'physical' || userDivision ==='fingerprint' || userDivision ==='photography'">Date & Time</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let case of cases | paginate: {itemsPerPage: 10, currentPage: p};">

                <td>{{ case.case_no }}</td>
                <td>{{ case.case_nature }}</td>
                <td *ngIf="userDivision === 'soco'" class="text-wrap">{{ case.incident_title }}</td>
                <td>{{ case.requesting_party }}</td>
                <td *ngIf="userDivision === 'soco' || userDivision ==='chemistry'"><app-case-status [value]="case.disposition"></app-case-status></td>
                <td *ngIf="userDivision === 'physical' || userDivision ==='fingerprint' || userDivision ==='photography'">{{ case.incident_date }} {{ case.incident_time }}</td>
                <td>
                  <button *ngIf="userData.usertype === 'Encoder'" type="button" (click)="onSelectEdit(case)" class="btn btn-outline-primary btn-xs mr-2"><i class="fas fa-edit"></i></button>
                  <button type="button" [routerLink]="['view', case.id]" class="btn btn-outline-info btn-xs mr-2"><i class="fas fa-eye"></i></button>
                  <button *ngIf="userData.usertype === 'Encoder'" type="button" (click)="onDelete(case.id)" class="btn btn-outline-danger btn-xs"><i class="fas fa-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>

          <div *ngIf="cases.length === 0" class="d-flex justify-content-center m-4">
            <!-- <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
              <span class="sr-only">Loading...</span>
            </div> -->
            No records found.
          </div>
          
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
      <!-- /.card -->
    </div>
  </div>
</div>