<div class="card card-outline card-info">
    <div class="card-header">
        <h3 class="card-title">Victims/s</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-outline-info btn-tool" data-toggle="modal" data-target="#modal-add-victim" *ngIf="!isView">
                <i class="fas fa-plus"></i> Add...
            </button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0">

        <table class="table table-hover">
            <!-- <thead>
                <tr>
                    <th>Name/Description of Evidence</th>
                </tr>
            </thead> -->
            <tbody>
                <tr *ngFor="let victim of victims">
                    <td><i class="fas fa-user-alt text-info mr-2"></i> {{ victim.firstname }} {{ victim.lastname }}</td>
                    <td><button type="button" class="btn btn-danger btn-xs float-right" (click)="removeVictim(victim.id)" *ngIf="!isView">
                        <i class="fas fa-times"></i>
                    </button></td>
                </tr>
            </tbody>
            <tfoot *ngIf="victims.length == 0" class="text-left">
                <p class="text-secondary m-2 ml-3 text-sm">No victim/s added.</p>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
</div>

<!-- modal dialog -->
<app-modal-victim-entry></app-modal-victim-entry>